<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.h.cheng.base">

    <application>
        <activity
            android:name=".common.preview.BasePreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
    </application>
</manifest>
